extends ../layout

block content
  +nav(settings.project.get('projectname'), "dropdown_menu", _url(settings.project.get('logo'))) 
    +nav_item(_url('/project')) Projekt auswählen  
    +nav_item(_url("/admin-logon")) Einloggen

  .jumbotron
    h2= settings.project.get('projectname') + " @ habiDAT"
    p Willkommen im Adminbereich. Bitte melde dich mit einem Administratorlogin an. 
  
  if message && message.length > 0
    div(class="alert alert-danger") 
      p.message= message
  
  .col-md-5.col-xs-12.col-sm-6.col-lg-4
    +logon_form(_url("/admin-logon"))
